<configuration>
	<system.web>
		<compilation targetFramework="4.0">
			<assemblies>
				<add assembly="MySql.Data, Version=6.9.6.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
				<add assembly="MySql.Web, Version=6.9.6.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
			</assemblies>
		</compilation>
		<httpRuntime/>
		<pages controlRenderingCompatibilityVersion="4.0"/>
	</system.web>
	<connectionStrings>
		<add name="ConnectionString" connectionString="server=127.0.0.1;database=gamedb;uid=root;pwd=amarabindhu;"/>
	</connectionStrings>
</configuration>
